@{
    ViewData["Title"] = "About Us";
}
<h1>@ViewData["Title"]</h1>
<div class="container">
    <div class="row">
        <div class="col-sm-6 col-md-4 col-lg-3 mt-4">
            <div class="card card-inverse card-info">
                <img class="card-img-top" src="https://picsum.photos/200/150/?random">
                <div class="card-block">
                    <figure class="profile">
                        <img src="https://picsum.photos/200/150/?random" class="profile-avatar" alt="">
                    </figure>
                    <h4 class="card-title mt-3">Tawshif Ahsan Khan</h4>
                    <div class="meta card-text">
                        <a>Friends</a>
                    </div>
                    <div class="card-text">
                        Tawshif is a web designer living in Bangladesh.
                    </div>
                </div>
                <div class="card-footer">
                    <small>Last post 3 mins ago</small>
                    <button class="btn btn-info float-right btn-sm">My Posts</button>
                </div>
            </div>
        </div>
    </div>
</div>
