@model dynamic

@{
    ViewData["Title"] = "Posts by " + Model.Author.Display;
}

<div class="container mt-5 mb-5">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <h4>Latest Posts</h4>
            <ul class="timeline">
                @foreach (Post post in Model.Posts)
                {
                    <li>
                        <a asp-route="ReadArticle" asp-route-id="@post.ID">@post.Title</a>
                        <span class="float-right">21 March, 2014</span>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque scelerisque diam non nisi semper, et elementum lorem ornare. Maecenas placerat facilisis mollis. Duis sagittis ligula in sodales vehicula....</p>
                        <p>~@post.Author.Display</p>
                    </li>
                }
            </ul>
        </div>
    </div>
</div>

