@model dynamic

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    @foreach (Post post in Model.Posts)
    {
        <div>
            <a asp-route="ReadArticle" asp-route-id="@post.ID">@post.Title</a> by @post.Author.Display
        </div>
    }
</div>
